<header>
  <nav class="nav-bar">
    <a routerLink="/games" class="icon">
      <fa-icon [icon]="faSteam"></fa-icon
    ></a>
    <ul>
      <li>
        <a routerLink="/games">Games</a>
      </li>
      <li>
        <a routerLink="/library">Library</a>
      </li>
      <li>
        <a routerLink="/friends">Friends</a>
      </li>
      <li>
        <a routerLink="/profile">Profile</a>
      </li>
    </ul>

    <a routerLink="/login" class="icon">
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </a>
  </nav>
</header>
