<div class="game">
  <div class="card-up">
    <h3>{{ game.name }}</h3>
    <div>
      <span>{{ game.price }}{{ game.currency }}</span>
    </div>
  </div>
  <div class="card-down">
    <p>{{ game.description }}</p>
    <p class="tag">{{ game.tag }}</p>
    <div class="action-area">
      <app-button *ngIf="!game.purchased" text="Add to Library"></app-button>
      <ng-container *ngIf="game.purchased">
        <app-button text="Share"></app-button>
        <app-button text="Play"></app-button>
      </ng-container>
    </div>
  </div>
</div>
