/* You can add global styles to this file, and also import other style files */
*{
    font-family: "Montserrat", sans-serif;
}
.btn {
  background-color: #6c69ff;
  color: azure;
  width: 120px;
  height: 40px;
  margin: 1em;
  border-radius: 6px;
}

.btn:hover {
  cursor: pointer;
}
