.container {
  padding: 10px 30px;
}

.games-carousel {
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  place-content: center;
  gap: 1rem;
}

.all-games {
  display: flex;
  flex-direction: row;
}
