<div class="container">
  <h1>{{ title }}</h1>
  <app-search-bar
    searchLabel="Search games"
    placeholder="Search games"
    (onsearch)="searchGames($event)"
  ></app-search-bar>

  <h2>Featured Games</h2>
  <div class="all-games">
    <div class="games-carousel">
      <app-game-card
        *ngFor="let game of filteredGames"
        [game]="game"
      ></app-game-card>
    </div>
    <div class="games-filtering">
      <div class="byPrice">
        <label for="myRange">Filter by Price</label><br />
        <input
          type="range"
          min="{{ minPrice }}"
          max="{{ maxPrice }}"
          value="(onchange)"
          class="slider"
          id="myRange"
        />
      </div>
      <div class="byTag">
        <label for="tag">Filter by Tag</label><br />
        <input
          type="checkbox"
          id="indie"
          name="indie"
          value="Indie"
          [(ngModel)]="indieChecked"
        />
        <label for="tag"> Indie</label><br />
        <input
          type="checkbox"
          id="action"
          name="action"
          value="Action"
          [(ngModel)]="actionChecked"
        />
        <label for="tag"> Action</label><br />
        <input
          [(ngModel)]="adventureChecked"
          type="checkbox"
          id="adventure"
          name="adventure"
          value="Adventure"
        />
        <label for="tag"> Adventure</label><br />
      </div>
    </div>
  </div>
</div>
